.button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 17px 0;
  border: 2px solid #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #444444;
}
