.nav {
  position: relative;
  width: 100%;
}

.nav a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 30px 0;
  padding-left: 46px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.nav__list {
  @include list-style-reset;
  display: flex;
  flex-direction: column;
}

.nav__item {
  padding: 0 30px;
  border-bottom: 1px solid #ececec;

  &:first-of-type {
    border-top: 1px solid #ececec;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &--search {
    background: url("../../img/icon-search.svg") no-repeat center left 30px;
  }

  &--cart {
    background: url("../../img/icon-cart.svg") no-repeat center left 30px;
  }
}

.nav__toggle {
  position: absolute;
  padding: 0;
  top: -50px;
  right: 30px;
  width: 20px;
  height: 2px;
  font-size: 0;
  border: none;
  background-color: #000000;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    top: -4px;
  }
}
