.products {
  background-color: #f9f9f9;
}

.products__wrapper {
  padding-top: 75px;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat center -15%;
}

.products__title {
  margin: 0;
  margin-bottom: 120px;
  text-align: center;
  padding: 0 30px;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

.products__categories {
  display: flex;
  flex-direction: column;
}

.products a {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 28px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.products p {
  margin: 0;
  width: 130px;
}

.products__interior {
  position: relative;
  background: #63d1bb;

  &::after {
    @include pseudo-element-right(62px, 70px, 23px, 32px);
    background: url("../img/icon-interior.svg") no-repeat center center;
    opacity: 0.5;
  }
}

.products__toys {
  position: relative;
  background: #56c3b2;

  &::after {
    @include pseudo-element-right(62px, 70px, 23px,32px);
    background: url("../img/icon-toy.svg") no-repeat center center;
    opacity: 0.5;
  }
}

@media(min-width: 768px) {

  .products__wrapper {
    padding-top: 165px;
    background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat center center;
    background-size: 100%;
  }

  .products__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 350px;
  }

  .products__categories {
    flex-direction: row;
  }
}

@media(min-width: 1250px) {
  .products__title {
    padding: 0 150px;
    font-size: 53px;
    line-height: 57px;
  }
}
