.secondary-header {
  padding-top: 71px;
  padding-bottom: 77px;
  background-color: #f1f1f1;
}

.secondary-header__title {
  display: block;
  margin: 0 auto;
  width: 260px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .secondary-header {
    padding-top: 90px;
    margin-bottom: 80px;
  }

  .secondary-header__title {
    width: 400px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .secondary-header {
    margin-bottom: 150px;
  }

  .secondary-header__title {
    width: 500px;
    font-size: 53px;
    line-height: 57px;
  }
}
