.weekly-product {
  &__wrapper {
    box-sizing: border-box;
    width: 320px;
    padding: 34px 30px;
    margin: 0 auto;
  }

  &__name {
    @include mobile-secondary-title;
    margin-bottom: 5px;
  }

  &__legend {
    margin: 0;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #63d1bb;
  }

  &__text {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px;
    color: #444444;
  }

  &__stats {
    width: 100%;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #444444;
    border-collapse: collapse;
  }

  td {
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
  }

  &__order {
    text-align: center;
  }

  &__price {
    margin-bottom: 28px;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: #444444;
  }
}
