
.weekly-product__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 34px;
  padding-bottom: 34px;
}

.weekly-product__name {
  @include mobile-secondary-title;
  margin-bottom: 5px;
}

.weekly-product__legend {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
}

.weekly-product__text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 30px;
  color: #444444;
}

.weekly-product__stats {
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
  border-collapse: collapse;
}

.weekly-product td {
  padding-bottom: 12px;
  border-bottom: 1px solid #ececec;
}

.weekly-product__order {
  text-align: center;
}

.weekly-product__price {
  margin-bottom: 28px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
}

@media (min-width: 768px) {
  .weekly-product__legend {
    width: 100px;
    text-align: center;
  }

  .weekly-product__title {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 55px;
  }

  .weekly-product__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
  }

  .weekly-product__info {
    flex-basis: 294px;
  }

  .weekly-product__order {
    flex-basis: 294px;
    margin-top: -130px;
    order: 2;
  }

  .weekly-product__image {
    flex-basis: 334px;
    height: 406px;
    order: 1;
  }
}

@media (min-width: 1250px) {
  .weekly-product__legend {
    margin-right: 56px;
  }

  .weekly-product__name {
    font-size: 53px;
    line-height: 57px;
  }

  .weekly-product__title {
    position: relative;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 100%;
    margin-bottom: -150px;
    z-index: 2;
  }

  .weekly-product__info {
    flex-basis: 294px;
    margin-top: 120px;
    margin-right: 59px;
    margin-left: auto;
  }

  .weekly-product__order {
    margin-top: -130px;
    margin-left: 170px;
  }

  .weekly-product__image {
    flex-basis: 525px;
    height: 633px;
    order: 1;
  }
}
